.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
#Home {
    background: url("http://www.blogrollcenter.com/news/gallery/most-famous-graphic-designers/most_famous_graphic_designers.jpg") no-repeat center center fixed;
    background-size: cover;
}
.jumbotron {
    background-color: rgba(240, 240, 240, .9);
    margin-top: 25%;
}
#sign {
    text-align: center;
}
.form-signup {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
}
.form-signup input[type="text"],
.form-signup input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.form-login {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
}
.form-login input[type="text"],
.form-login input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}