<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<%Poems.forEach(function(poem){  %>
	  <div><%=poem.title  %>
			<%=poem.content  %>
	  </div>
	  <%})  %>
</body>
</html>