<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Floetry</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheet/style.css">
	
</head>
<body id="Home">
	<div class = "navbar navbar-default navbar-fixed-top">
		<div class="container">
			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">	
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
			<div class = "collapse navbar-collapse navHeaderCollapse">
				<ul class = "nav navbar-nav navbar-right">
					<li class = "active"><a href = "/">Home</a></li>
					<li><a href = "/poems/all">User Poems</a></li>
                    <li><a href = "/poemList">List of Poems</a></li>
					
				</ul>
			</div>				
		</div>
	</div>
    <div class="jumbotron Profile">
    <div class="container">
	<h3>List of Poems</h3>	
		<%List.forEach(function(p){ %>
		<li><a href="/poemList/<%=p%>"><%=p%></a></li> 
		<br>
		<%=p.text  %>
		<%})  %>
	</div>
	</div>
		
</body>
</html>