<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Poem</title>
</head>
<body>
	<h2>Title</h2> 
		<p><%= poem.title %></p>
	<br/>
	<h2>Text</h2> 
	<p><%= poem.text %></p>
</body>
</html>