<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Floetry</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheet/style.css">
	
</head>
<body id="Home">
	<div class = "navbar navbar-default navbar-fixed-top">
		<div class="container">
			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">	
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
			<div class = "collapse navbar-collapse navHeaderCollapse">
				<ul class = "nav navbar-nav navbar-right">
					<li class = "active"><a href = "/">Home</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href = "/poems/all">User Poems</a></li>
                    <li><a href = "/poemList">List of Poems</a></li>
					<li><a href = "/logout">Logout</a></li>
				</ul>
			</div>				
		</div>
	</div>
    <div class="jumbotron Profile">
    <div class="container">	
	<form method="POST" action="/poems/<%=poem.id %>?_method=PUT">
		<input type="text" name="title" value="<%=poem.title  %>">
		<br/>
	<textarea name="content" id="content"  cols="30" rows="10"><%=poem.content%></textarea>
		<button>SAVE</button>
	</form>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
</body>
</html>