<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
		<form method ="GET" action="/logout">
		<button>Logout</button>
	</form>
	<h1>Post Your Poems</h1>
	<form method= "POST" action="/poems">
		<input type="text" name= "title" placeholder= "Title"><br/><br/>
		<textarea name="content" id="content" cols="30" rows="10" placeholder ="Write Poem Here"></textarea>
		<br/>
		<br/>
		<button>Post</button>
	</form>

	
</body>
</html>