<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Post Your Poems</h1>
	<form method= "POST" action="/profile">
		<input type="text" name= "title" placeholder= "Title"><br/><br/>
		<input type="content" name= "poem" placeholder = "Write Your Poem Here">
		<br/>
		<br/>
		<button>Post</button>
	</form>

	
</body>
</html>