<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Profile Page</title>
</head>
<body>
	<form method ="GET" action="/logout">
		<button>Logout</button>
	</form>
	<h1>Its Your World</h1>
	<a href="/User/post">Write A Poem</a>
	<h2>Your Poems</h2>
	<a href="/poems">Check Out Your Poems</a>
</body>
</html>