<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form method="POST" action = "/signup">
		<input type="text" name ="email" placeholder="Email">
		<input type="password" name= "password_digest" placeholder= "Password">
		<button>G-Pass Granted</button>
	</form>
</body>
</html>