<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Floetry</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheet/style.css">
	
</head>
<body id="Home">
	<div class = "navbar navbar-default navbar-fixed-top">
		<div class="container">
			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">	
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
			<div class = "collapse navbar-collapse navHeaderCollapse">
				<ul class = "nav navbar-nav navbar-right">
					<li class = "active"><a href = "/">Home</a></li>
                    <li><a href = "/poemList">List of Poems</a></li>
					
				</ul>
			</div>				
		</div>
	</div>
    <div class="jumbotron Profile">
    <div class="container">
    	<div class= "form-signup">
    	    		<h2 class="form-signup-heading">Sign Up</h2>
	<form method="POST" action = "/signup">
		<input type="text" class="input-block-level" name ="email" placeholder="Email">
		<input type="password" class= "input-block-level"name= "password_digest" placeholder= "Password">
		<button class="btn btn-large btn-primary" type="submit">G-Pass Granted</button>
	</form>
	</div>
</div>
	</div>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
</body>
</html>